body {
  animation: run 4s;
  background-color: #00ff00;
  opacity: 1;
}

@keyframes run {
  from {
    background-color:black;
    opacity: 0;
    transform: rotate(0deg);
  }
  to {
    display:block;
    opacity: 1;
    transform: rotate(360deg);
  }
}

        h1{
	color: white;
	font-size: 3em;
	-webkit-text-stroke: 2px black;
}
        
        h2{
	color: white;
	font-size: 2.6em;
	-webkit-text-stroke: 2px black;
}
        
        h3{
	color: white;
	font-size: 2.2em;
	-webkit-text-stroke: 1.5px black;
}
        
        h4{
	color: white;
	font-size: 1.8em;
	-webkit-text-stroke: 1.5px black;
}
        
        h5{
	color: white;
	font-size: 1.55em;
	-webkit-text-stroke: 1px black;
}
        
        h6{
	color: white;
	font-size: 1.2em;
	-webkit-text-stroke: 0.5px black;
}
        
        p{
	color: white;
	font-size: 1em;
	-webkit-text-stroke: 0.5px black;
}

        h7{
	color: white;
	font-size: 0.0000001em;
	-webkit-text-stroke: 0.5px black;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 100px;
   //background-color: linear-gradient(to top, #ffff00 0%, #00ff00 100%);
   background-color: #00ff00;
   text-align: center;
}

.img, .btn {
  animation: btnhover 1s;
}

.img:hover, .btn:hover{
    animation: btn 1s;
    -webkit-filter: brightness(0.3);
    filter: brightness(0.3);
}

@keyframes btn {
  from {
    -webkit-filter: brightness(1);
    filter: brightness(1);
  }
  /*25% {
    -webkit-filter: brightness(0.7);
    filter: brightness(0.7);
  }
  50% {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
  }
  75% {
    -webkit-filter: brightness(0.4);
    filter: brightness(0.4);
  }*/
  to {
    -webkit-filter: brightness(0.3);
    filter: brightness(0.3);
  }
}

@keyframes btnhover {
  from {
    -webkit-filter: brightness(0.3);
    filter: brightness(0.3);
  }
  /*25% {
    -webkit-filter: brightness(0.4);
    filter: brightness(0.4);
  }
  50% {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
  }
  75% {
    -webkit-filter: brightness(0.7);
    filter: brightness(0.7);
  }*/
  to {
    -webkit-filter: brightness(1);
    filter: brightness(1);
  }
}

#meny{
    width:100%;
    height:72.2%;
    display:none;
    margin:0px;
    position:relative;
    animation:animatetop 1s;
}
@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}

    button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        height: 50px;
}


}

button:hover{
  -webkit-filter: brightness(0.3);
  filter: brightness(0.3);
}

#side{
    display:none;
}

#ddltheme{
    width:100%;
    height:100px;
}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}

select {
  color:#000000;
  background-color:#ffffff;
  width:auto;
  height:50px;
  border:none;
  text-align:center;
  display: block;
  margin: 0 auto;
}

#base64{
  display:none;
}

.resize {
  resize: both;
  overflow: auto;
}

#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}

.editor {
  width: 40rem;
  min-height: 18rem;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  border-top: 6px solid #4a4a4a;
  border-radius: 3px;
  margin: 2rem;
}
.editor .toolbar {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.editor .toolbar .line {
  display: flex;
  border-bottom: 1px solid #e2e2e2;
}
.editor .toolbar .line:last-child {
  border-bottom: none;
}
.editor .toolbar .line .box {
  display: flex;
  border-left: 1px solid #e2e2e2;
}
.editor .toolbar .line .box .btn {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.2s ease all;
}
.editor .toolbar .line .box .btn:hover, .editor .toolbar .line .box .btn.active {
  background-color: #e1e1e1;
  cursor: pointer;
}
.editor .toolbar .line .box .btn.icon img {
  width: 15px;
  padding: 10px;
}
.editor .toolbar .line .box .btn.icon.smaller img {
  width: 12px;
}
.editor .toolbar .line .box .btn.has-submenu {
  width: 20px;
  padding: 0 10px;
}
.editor .toolbar .line .box .btn.has-submenu::after {
  content: '';
  width: 6px;
  height: 6px;
  position: absolute;
  background-image: url(https://image.flaticon.com/icons/svg/25/25243.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  right: 4px;
}
.editor .toolbar .line .box .btn.has-submenu .submenu {
  display: none;
  position: absolute;
  top: 36px;
  left: -1px;
  background-color: #fff;
  border: 1px solid #b5b5b5;
  border-top: none;
}
.editor .toolbar .line .box .btn.has-submenu .submenu .btn {
  width: 39px;
}
.editor .toolbar .line .box .btn.has-submenu:hover .submenu {
  display: block;
}
.editor .content-area {
  padding: 15px 12px;
  line-height: 1.5;
}
.editor .content-area .visuell-view {
  outline: none;
}
.editor .content-area .visuell-view p {
  margin: 12px 0;
}
.editor .content-area .html-view {
  outline: none;
  display: none;
  width: 100%;
  height: 200px;
  border: none;
  resize: none;
}

#color {
  width:90%;
  height:50px;
}

img {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor:pointer;
}

.btn {
  background-color: transparent;
  padding:none;
  margin: 0;
  border: none;
  outline: none;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

.rotate {
  animation: rotate 2.5s /*infinite linear*/;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#logopng {
  animation: color-rotate 2.5s infinite alternate linear;
}

@keyframes color-rotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

.hue {
  animation: color-rotate 2.5s infinite alternate linear;
}